openapi: 3.2.0
info:
  title: Mojang Session Server API
  description: Mojang's Yggdrasil session server (sessionserver.mojang.com) used in the Minecraft Java Edition login handshake. Exposes the canonical skin and cape texture lookup keyed by UUID, the client-side /join and server-side /hasJoined verification calls, and the SHA-1 blocked-server hash list.
  version: 1.0.0
  contact:
    name: Mojang Studios
    url: https://www.minecraft.net
  license:
    name: Mojang Brand and Asset Usage Guidelines
    url: https://www.minecraft.net/en-us/usage-guidelines
  x-generated-from: documentation
  x-last-validated: '2026-05-30'
servers:
- url: https://sessionserver.mojang.com
  description: Mojang Yggdrasil session server (production)
security: []
tags:
- name: Server
  description: Server-policy artifacts (blocked servers)
paths:
  /blockedservers:
    get:
      operationId: getBlockedServers
      summary: Get Blocked Servers
      description: Returns a newline-delimited plain-text list of SHA-1 hashes representing servers Mojang has blocked under the EULA. Clients hash the server address (and parent domains / wildcards) and check against this list.
      tags:
      - Server
      responses:
        '200':
          description: Newline-delimited list of SHA-1 hashes.
          content:
            text/plain:
              schema:
                type: string
                example: '6f2520307bbcd07a526a4267d28a73a4f88f9b0a

                  7c1f8f5fd5b18c7ce5a4a6a5c8d6e1b0a4b8c9d2

                  '
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Minecraft access token (used in /join request body, not as a header).
